.asideCard {
    border: 1px solid var(--border-card);
    border-radius: 12px;
    background: var(--gradient-card);
    padding: 32px;
}
.asideTitle {
    font-family: var(--font-body);
    font-weight: 400;
    color: var(--color-text);
    font-size: 12px;
    margin-bottom: 16px;
}
.newsletterHeading{
    font-family: var( --font-heading);
    color: var(--color-text);
    font-weight: 600;
    font-style: bold;
    

}
.newsletterText{
    font-family: var(--font-body);
    color: var(--color-text);
    font-weight: 400;
    font-size: 10px;
    line-height: 1.7;
    margin-top: 15px;
}



.newsletterInput{
    width: 100%;
    padding: 10px 16px;
    border: 1px solid var(--border-card);
    border-radius: 8px;
    font-family: var(--font-body);
    color: var(--color-text-placeholder);
    font-size: 12px;
    font-weight: 400;
    background-color: var(--color-bg);
    margin-top: 16px;
   
}
.newsletterBtn {
  width: 100%;
  padding: 10px;
  margin: 8px;
  margin-left: 1px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-button-bg);
  color: var(--color-button );
  font-family: var(--font-body);
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  }

  .asideCardDark {
  background: var(--gradient-newsletter);
  border: none;
}
.asideCardDark .asideTitle {
    color: var(--color-text-cta);
}
.asideCardDark .newsletterHeading,
.asideCardDark .newsletterText {
  color: var(--color-text-cta);
}

.asideCardDark .newsletterInput {
  background-color: var(--color-bg);
  border: none;
}

.asideCardDark .newsletterBtn {
  background-color: transparent;
  border: 1px solid var(--color-button);
  color: var(--color-button);
}


 @media (max-width: 768px) {
    .asideCard {
        height: 400px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px; 
        
    }
    .asideCardDark {
        margin-top: 20px;
        margin-bottom: 10px;
        

    }
    .asideTitle{
        font-size: 14px;
        color: var(--color-text);
        padding: 15px 6px;
    }
   .newsletterHeading{
    font-size: 27px;
    
   }
   .newsletterText {
    font-size: 14px;
    padding-bottom: 5px;
   }
  }


  @media (max-width: 480px) {
    .asideCardDark {
        width: 90%;
        margin-left: 24px;
    }
}


@media (max-width: 430px) {
    .asideCardDark {
        width: 94% ;
        margin-left: 12px;
    }
}
@media (max-width: 412px) {
   .asideCardDark {
       width: 97%;
       margin-left: 7px;
    }
}

@media (max-width: 400px) {
    .asideCardDark {
        width: 94% ;
        margin-left: 12px;
    }
}


@media (max-width:393px) {
    .asideCardDark {
        width: 96% ;
        margin-left: 8px;
        margin-top: -20px;
    }
}